{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
	<div class="signup-content">
        <div class="signup-module">
          <section class="header">
            <div class="text">
              Password Recovery
            </div>
          </section>
          <div class="form-section">
			<h2>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</h2>
          </div>
        </div>
    </div>
{% endblock %}
